doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/application.css')
    link(rel='stylesheet', href='/datepicker.css')
    script(type='text/javascript', src='/application.js')
  body
    block content
