<div class="main fix">
	<h2>James Tan's Personal Banking Account</h2>
	<div class="row">
		<table class="table span7">
			<thead>
				<th>Total from all</th>
				<th>year 1</th>
				<th>year 2</th>
				<th>year 10</th>
				<th>year <input type="text" class="input" id="account-year" value="20" /></th>
			</thead>
			<tbody>
				<tr>
					<td>$<%= total %></td>
					<td>$<%= calc(total,1) %></td>
					<td>$<%= calc(total,2) %></td>
					<td>$<%= calc(total,10) %></td>
					<td id="account-year-result">$<%= calc(total,20) %></td>
				</tr>
				<tr>
					<td colspan="5">Note the more you wait the more you save</td>
				</tr>
				<tr>
					<td colspan="5"></td>
				</tr>
				<tr>
					<td colspan="5">Note that you are only allowed to spend 20% of the money for purchase the rest will be released to you when you are 21 years old
</td>
				</tr>
				<tr>
					<td>$<%= total*0.2 %></td>
					<td>$<%= calc(total*0.2,1) %></td>
					<td>$<%= calc(total*0.2,2) %></td>
					<td>$<%= calc(total*0.2,10) %></td>
					<td id="account-year-result-part">$<%= calc(total*0.2,20) %></td>
				</tr>
				<tr>
					<td colspan="5">Yoy can only buy the thing you like if you achieve the goals you set when posted time
					</td>
				</tr>
			</tbody>
		</table>
	</div>

					<table class="table span6">
						<thead>
							<th>name</th>
							<th>date</th>
							<th>amount</th>
							<th>subtotal</th>
						</thead>
						<tbody>
							<% for (var d in data) { %>
								<tr>
									<td><%= data[d].name %></td>
									<td></td>
									<td></td>
									<td>$<%= data[d].subtotal %></td>
								</tr>
								<% for (var p in data[d].payments) { %>
									<tr>
										<td></td>
										<td><%= data[d].payments[p].date %></td>
										<td>$<%= data[d].payments[p].amount %></td>
										<td></td>
									</tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
</div>