<div class="navbar">
  <div class="navbar-inner navbar-fixed-top">
    <div class="container">
	    <a class="brand" href="#projects">Projects</a>
	    <ul class="nav pull-right">
	      <% if (user.id) { %>
          <li><a class="brand" href="#account">Bank account</a></li>
          <span class="span1"></span>
          <li><a href="#"><%= user.email%></a></li>
	      	
	      	<li><a href="/logout">Logout</a></li>
	      <% } else { %>
	      	<li><a class="brand" href="#login">Login</a></li>
	      	
	      <% } %>
	    </ul>
  	</div>
  </div>
</div>