<div class="main fix">
	<div class="header fix">
		<div class="boy_img fix floatleft">
			<img src="images/boy.jpg" alt=""/>
		</div>
		<div class="header_content fix floatleft">
			<h2>Add a New Project</h2>
		</div>
		<div class="side_img fix floatleft">
			<a href="#post"><img src="images/Button-Add-icon.png" alt=""/></a>
		</div>
	</div>
	<div class="post_border">
		<form>
			<div class="about_inp">
				<div class="in_border">
				<input  class="about_text big_box "type="text" value="fund a project" onfocus="if(this.value=='fund a project') {this.value='';}"onblur="if(this.value=='') {this.value='fund a project';}"  /> </div> <br />
				
				<input class="about_text big_box" type="text" name="name" value="<%= data.name %>"   onfocus="if(this.value=='goal name..') {this.value='';}"onblur="if(this.value=='') {this.value='goal name..';}" />
				<input name="getFunding" class="about_text big_box" type="text" value="June 1 2013"  onfocus="if(this.value=='get funding ( month-date-year)..') {this.value='';}"onblur="if(this.value=='') {this.value='get funding ( month-date-year)..';}"  />
				<input name="deliver" class="about_text big_box" type="text" value="June 5 2013"   onfocus="if(this.value=='deliver ( month-date-year)..') {this.value='';}"onblur="if(this.value=='') {this.value='deliver ( month-date-year)..';}" />
				<input name="amount" class="about_text small_box" type="text" value="<%= data.amount %>"   onfocus="if(this.value=='$XXX.XX') {this.value='';}"onblur="if(this.value=='') {this.value='$XXX.XX';}" />
				<textarea name="message" class="about_text text_box" rows="5" cols="5" placeholder=" leave a message. . ."><%= data.message %></textarea>
			</div>
			<div class="post_button another_one fix">
				<input class="okay_button" type="submit" value="okay"/>
				<input class="cancel_button" type="reset" value="cancel"/>
			</div>
		</form>
	</div>
</div>