<div class="main fix">
			<div class="header fix">
				<div class="boy_img fix floatleft">
					<img src="images/boy.jpg" alt=""/>
				</div>
				<div class="header_content fix floatleft">
					<h2>Help Fund Me</h2>
				</div>
				<div class="side_img fix floatleft create-project-button">
					<a href="#post"><img src="images/Button-Add-icon.png" alt=""/></a>
				</div>
			</div>
			<% for (var p in projects) { %>
				<div _id="<%= projects[p]._id %>" class="project single_promo fix">
					<div class="single_img fix floatleft">
					<img src="images/user.png" alt=""/>
					</div>
					<div class="single_content fix floatright">
						<h3><%= projects[p].name %></h3>
						<p><%= projects[p].deliver %></p>
						<p><%= projects[p].amount %></p>
					</div>
				</div>
			<% } %>

</div>