@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*{padding:0; margin:0}
body{font-family: 'Roboto Slab', serif; font-size:14px; line-height:21px; color:#666;background: #fff}
h1, h2, h3{font-weight:bold; margin-bottom:5px;line-height:25px;font-family: 'Roboto Slab', serif; }
img {max-width:100%; border:none; height:auto}
a {text-decoration:none}
a:hover{opacity: 0.4}
.fix{overflow:hidden}
.floatleft{float:left}
.floatright{float:right}
.main{width:960px; margin: 0 auto; display:block; background: #fff;transition: all 0.6s ease 0s;-moz-transition: all 0.6s ease 0s;-webkit-transition: all 0.6s ease 0s;-o-transition: all 0.6s ease 0s;padding-bottom:60px}
.mainmenu{background:#282828; height:105px}
.mainmenu ul{padding:0; margin:0; text-align:center}
.mainmenu ul li{display:inline}
.mainmenu ul li a{color: #FFFFFF;display: inline-block;font-size: 18px;padding-right: 50px;padding-top: 40px;}
.mainmenu ul li a:hover{}
.header{}
/*********************Project Page CSS*******************/

.single_promo{padding: 15px;}
.single_content{border: 1px solid #666666;box-shadow: 5px 5px 5px #797979;}
.single_content h3{text-align:center}

/*********************Fund Page CSS*******************/

.post_header{}
.paypal{}
.nnew{margin-top: 65px;}
.nnew img{}
.post_content{}
.post_single p{text-align:center}
/*********************Invite Page CSS*******************/

.invite_post{margin-left: 335px;}
/*********************Post Page CSS*******************/

.about_text{margin: 5px 10px 10px 18px;padding: 0 5px 5px;width: 800px;}
.big_box{width: 200px;}
.mid_box{width: 200px;}
.another_one{margin-left: 205px;}
.in_border{border-bottom: 1px solid #666666;}



