@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

.appModule {
	margin-top: 60px;
}

#account-year {
	width: 20px;
	margin-bottom: 0px;
	height: 10px;
}

/*********************Login Page CSS*******************/

.login_area h3{margin-bottom: -15px;}
.login_input{border: 1px solid #666666;margin-bottom: 15px;padding: 5px;width: 140px;}
.login_here{background: url("images/Apps-session-hibernate-icon.png") no-repeat scroll 0 0 transparent;cursor: pointer;height: 80px;text-indent: -9999px;width: 80px;border: none;}
.logout_here{background: url("images/Apps-session-halt-icon.png") no-repeat scroll 0 0 transparent;cursor: pointer;height: 80px;text-indent: -9999px;width: 80px;border: none;}
.login-alert {
	display: none;
}

.create-project-button {
	display: none;
}

.okay_button, .cancel_button {
	width: 50px !important;
}

.login_here, .logout_here {
	width: 80px !important;
}

.project {
	cursor: pointer;
	&:hover {
		.single_content {
			background-color: #eee;
		}
		
	}
}